@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0f0f10;
  color: #fff;
}

input,
textarea {
  color: #000;
}

select option {
  color: black;
}
/* Custom styles.css */
.text-gradient {
  background: linear-gradient(45deg, #f9a8d4, #f0abfc, #c4e0f3, #a6f6f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
